<div class="main">
  <div class="navbar"><span>navbar here</span></div>
  <div class="content">
    <div class="charts-main"><span>charts here</span></div>
    <div class="articles-main">
      <div class="articles">
        <div class="article" *ngFor="let article of initArticles">
          <div class="article-title" (click)="redirect(article.url)">
            <span>{{article.title}}</span>
          </div>
          <div class="article-content">
            <p>{{article.description}}</p>
          </div>
          <div class="article-footer">
            <span>{{parseInstant(article.publishedAt)}}</span>
            <span> by {{getDomainFromUrl(article.url)}}</span>
          </div>
        </div>
      </div>
      <div class="articles-search"><span>articles search params here</span></div>
    </div>
  </div>
</div>
