
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 1200px;
}

.navbar {
  border: solid lightgray 1px;
  height: 40px;
  width: 100%;
}

.charts-main {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  height: 400px;
  width: 100%;
}
.chart {
  height: 300px;
  width: 700px;
}

.chart-explicit {
  grid-area: 1 / 2 / 2 / 3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.chart-info {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  width: 100%;
}

.stock-last-price {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  color: #202020;
  letter-spacing: -.025em;
  margin-top: 10%;
  margin-bottom: 1.5%;
}

.positive {
  color: rgb(54, 127, 46);
}

.negative {
  color: rgb(181, 26, 40);
}

.stock-price-change {
  margin-right: 10px;
  min-width: 0;
  font-size: 1.3rem;
  letter-spacing: 0;
  font-weight: 700;
}

.stock-price-change-percent {
  font-size: 1.3rem;
  letter-spacing: 0;
  font-weight: 700;
}

.stock-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  font-size: 1.70rem;
  font-weight: 500;
  line-height: 1.125;
  border-bottom: 2px solid #656565;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.articles-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  width: 100%;
}

.articles-bar {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(243, 243, 243);
  border-bottom-color: rgb(32, 32, 32);
  border-bottom: solid 2px;
  height: fit-content;
}

.articles-bar-bookmark {
  background-color: rgb(32, 32, 32);
  font: 800 0.85rem Lato, 'sans-serif';
  color: #fff;
  letter-spacing: .025em;
  text-transform: uppercase;
  height: 25px;
  width: fit-content;
  padding: 5px;
  display: flex;
  align-items: center;
}

.articles-content {
  display: grid;
  grid-area: 2 / 1 / 3 / 2;
  grid-template-columns: 0.65fr 0.35fr;
  grid-template-rows: 1fr;
  margin-top: 5px;
}

.articles {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  width: 100%;
}

.recent-news-bar {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1%;
}

.recent-news {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  font: 1000 0.85rem Lato, 'sans-serif';
  letter-spacing: .025em;
  text-transform: uppercase;
  line-height: 1.375;
  color: #3677a8;

}

.recent-news-bar-gradient {
  width: 100%;
  height: 40%;
  margin-left: 5px;
  background: repeating-linear-gradient(135deg,#e1e1e1,#e1e1e1 1px,transparent 2px,transparent 3px);
}

.articles-list {
  grid-area: 2 / 1 / 3 / 2;
  overflow-y: auto;
  height: 450px;
  border: 1px solid #e1e1e1;
}

.article-main {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 1.5%;
}

.article-thumbnail {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.thumbnail {
}

.article {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 0.3fr;
  box-shadow: inset 0 -1px 0 0 #e1e1e1;;
  height: 105px;
  border-radius: 0;
  margin-right: 10%;
  margin-left: 1%;
}

.article-title {
  grid-area: 1 / 1 / 2 / 2;
  line-height: 1.25em;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  margin-right: 15%;
  cursor: pointer;
  margin-bottom: 5px;
}

.article-content {
  grid-area: 2 / 1 / 3 / 2;
  word-break: break-word;
  font-size: 13px;
  line-height: 18px;
  color: #8d8c8c;
  text-align: justify;
  margin-right: 15%;
  cursor: pointer;
}

.article-footer {
  grid-area: 3 / 1 / 4 / 2;
  margin-right: 15%;
  padding-bottom: 1%;
  font-size: 0.8em;
  color: #737373;
}

.articles-search {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.search-input {
  position: relative;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-label {
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
  width: inherit;
  display: block;
  font-weight: 700;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.input--style-1{
  font-size: 16px;
  color: #666;
  border: 0;
  outline: 0;
  width: inherit;
}

*:focus {
  outline: none;
}

.form::after {
  content: "";
  clear: both;
  display: table;

}
.form {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 25px;
  gap: 15px;

}

.search-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.search-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}

.btn-submit {
  outline: none;
  background: none;
  border: none;
  background: #ffe151;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  color: #666;
  font-size: 16px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: inherit;
  margin: 2% 30%;
  text-align: center;
  vertical-align: center;
}

.btn-submit:hover {
  background: #ebcd3d;
}

.btn-submit:active {
  background-color: #736921;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

input[type=text] {
  padding-left: 45px;
  padding-bottom: 20px;
  padding-right: 30px;
}
input[type=date] {
  padding-left: 45px;
  padding-bottom: 20px;
  padding-right: 30px;
}

