<header>
  <div class="header-items">
    <div class="option-button"><i class="fa-solid fa-bars"></i></div>
    <div class="logo" id="logo" (click)="this.router.navigate(['/dashboard']).then()"><img src="assets/quantice-logo-transparent.png" style="height: inherit"></div>
    <div class="option-button" style="background: inherit; margin-left: auto"><i class="fa-regular fa-user" style="font-size: 22px"></i></div>
  </div>
</header>
<div class="main">
  <div class="navbar"></div>
  <div class="content">
    <div class="charts-main">
      <div class="chart-info">
        <div class="stock-name">
          <span>{{stockName}}</span>
        </div>
        <div class="stock-last-price">
          <span>{{lastPrice | number: '1.2-2'}}$</span>
        </div>
        <div>
          <i class="fa-solid"
             [ngClass]="lastPriceChange > 0 ? 'fa-caret-up': 'fa-caret-down'"
             [ngStyle]="{'color': (lastPriceChange > 0) ? 'rgb(54, 127, 46)': 'rgb(181, 26, 40)'}"
             style="font-size: 1.2em; margin-right: 3px">
          </i>
          <span class="stock-price-change" [ngClass]="{
          'positive': lastPriceChange > 0,
          'negative': lastPriceChange < 0
          }">{{lastPriceChange | number: '1.2-2'}}$</span>
          <span class="stock-price-change-percent" [ngClass]="{
          'positive': lastPriceChangePercent > 0,
          'negative': lastPriceChangePercent < 0
          }">{{lastPriceChangePercent | number: '1.2-2'}}%</span>
        </div>
      </div>
      <div class="chart-explicit">
        <div class="chart-type-icons">
          <button class="chart-type-icon" style="background-image: url('assets/line-chart.svg'); margin-left: 7px" (click)="stockChartService.switchToLine()"></button>
          <button class="chart-type-icon" style="background-image: url('assets/candlestick-chart.svg')" (click)="stockChartService.switchToCandle()"></button>
        </div>
        <div [chart]="stockChart" class="chart"></div>
      </div>
    </div>
    <div class="articles-main">
      <div class="articles-bar">
        <div class="articles-bar-bookmark">
          <span>Overview</span>
        </div>
      </div>
      <div class="articles-content">
        <div class="articles">
          <div class="recent-news-bar">
            <div class="recent-news">
              <span>Recent news</span>
            </div>
            <div class="recent-news-bar-gradient"></div>
          </div>
          <div class="articles-list" id="articles-list">
            <div class="article-main" *ngFor="let article of initArticles">
              <div class="article-thumbnail">
                <div class="thumbnail" (click)="redirect(article.url)">
                  <img src="assets/quantice-logo.png" alt="image" height="80">
                </div>
              </div>
              <div class="article" [ngStyle]="{'background-color': (initArticles.indexOf(article) % 2 == 0) ? 'transparent': 'rgb(245, 245, 245)'}">
                <div class="article-title" (click)="redirect(article.url)">
                  <span class="article-title-span">{{article.title}}</span>
                </div>
                <div class="article-content" (click)="redirect(article.url)">
                </div>
                <div class="article-footer">
                  <span>{{parseInstant(article.publishedAt)}}</span>
                  <span> by {{getDomainFromUrl(article.url)}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="articles-search">
          <form class="articleSearchForm form" [formGroup]="articleSearchForm"
                (ngSubmit)="onSubmit()" #formDir="ngForm">
            <div class="search-input" style="margin-right: 2%" [ngStyle]="{
            'border' : (articleSearchForm.hasError('pattern', 'articleSearchKeywords') ||
            articleSearchForm.hasError('required', 'articleSearchKeywords'))  &&
            formDir.submitted ? 'solid crimson 2px': 'none'
            }">
              <label class="search-label">keywords</label>
              <input id="articleSearchKeywords" class="input--style-1" type="text"
                     formControlName="articleSearchKeywords">
            </div>
            <div class="search-date">
              <div class="search-input" [ngStyle]="{
            'border' : (articleSearchForm.hasError('invalidRange', 'articleSearchDateFrom') ||
            articleSearchForm.hasError('required', 'articleSearchKeywords')) &&
            formDir.submitted ? 'solid crimson 2px': 'none'
            }">
                <label class="search-label">from</label>
                <input id="articleSearchDateFrom" class="input--style-1" type="date" formControlName="articleSearchDateFrom" required>
              </div>
              <div class="search-input" [ngStyle]="{
            'border' : (articleSearchForm.hasError('invalidRange', 'articleSearchDateFrom') ||
            articleSearchForm.hasError('required', 'articleSearchKeywords')) &&
            formDir.submitted ? 'solid crimson 2px': 'none'
            }">
                <label class="search-label">to</label>
                <input id="articleSearchDateTo" class="input--style-1" type="date"
                       formControlName="articleSearchDateTo" required>
              </div>
            </div>
            <div class="search-button">
              <button class="btn-submit" type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
