<header>
  <div class="header-items">
    <div class="option-button"><i class="fa-solid fa-bars"></i></div>
    <div class="logo" id="logo"><img src="assets/quantice-logo-transparent.png" style="height: inherit"></div>
    <div class="option-button" style="background: inherit; margin-left: auto"><i class="fa-regular fa-user" style="font-size: 22px"></i></div>
  </div>
</header>
<div class="main">
  <form class="stock-search-form">
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="#3677a8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
      </div>
      <input type="search" [formControl]="stateCtrl" [matAutocomplete]="auto" id="default-search"
             class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             placeholder="Search stock, index..."
             required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let stock of filteredStocks | async" [value]="stock.name" (click)="navigateTo(stock.name, stock.short_name)">
          <span style="font-weight: 600">{{stock.short_name + ' | '}}</span>
          <span>{{stock.name}}</span>
        </mat-option>
      </mat-autocomplete>
      <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="background-color: #3677a8">Search</button>
    </div>
  </form>
  <div class="content-main">
    <div class="content-index-showcase">
      <table>
        <tr *ngFor="let index of indexShowcaseList">
          <td id="td-index">
            <span class="indicator" [ngStyle]="{'border-color': isDown(index) ? 'rgb(54, 127, 46)': 'rgb(181, 26, 40)'}"></span>
            <span>{{index.ticker}}</span>
          </td>
          <td class="td-index-price" style="width: 90px">{{(index.closePriceCurrent | number: '1.2-2')!.toString() + '$'}}</td>
          <td class="td-index-price" [ngStyle]="{'color': isDown(index) ? 'rgb(54, 127, 46)': 'rgb(181, 26, 40)'}">
            {{(getPriceDiff(index) | number: '1.2-2')!.toString() + '$'}}
          </td>
          <td class="td-index-price" [ngStyle]="{'color': isDown(index) ? 'rgb(54, 127, 46)': 'rgb(181, 26, 40)'}">
            {{(getPriceDiffPercent(index) | number: '1.2-2')!.toString() + '%'}}
            <i class="fa-solid"
               [ngClass]="isDown(index) ? 'fa-caret-up': 'fa-caret-down'"
               [ngStyle]="{'color': isDown(index) ? 'rgb(54, 127, 46)': 'rgb(181, 26, 40)'}"
               style="margin-left: 15px; text-align: right; vertical-align: center">
            </i>
          </td>
        </tr>
      </table>
    </div>
    <div class="content-headlines">
      <div class="headlines-major">
        <div id="headline-major-title" class="headline-major-title">
          <a href="{{headlines?.[0]?.url}}" target="_blank">{{headlines?.[0]?.title}}</a>
        </div>
        <div class="headline-major-image"><a href="{{headlines?.[0]?.url}}" target="_blank"><img src="{{headlines?.[0]?.imageUrl}}"></a></div>
        <div class="headline-major-content">
          <ul *ngFor="let headline of headlines?.slice(2, 5)">
            <li><a href="{{headline.url}}" target="_blank">{{headline.title}}</a></li>
          </ul>
        </div>
      </div>
      <div class="headlines-minor">
        <div class="headline-minor-image"><a href="{{headlines?.[1]?.url}}" target="_blank"><img src="{{headlines?.[1]?.imageUrl}}"></a></div>
        <div class="headline-minor-title"><a href="{{headlines?.[1]?.url}}" target="_blank">{{headlines?.[1]?.title}}</a>></div>
        <div class="headline-minor-content">
          <ul *ngFor="let headlineL of headlines?.slice(5, 8)">
            <li><a href="{{headlineL.url}}}" target="_blank">{{headlineL.title}}</a></li>
          </ul>
        </div>
        <div class="headline-minor-content-bottom-main">
          <div class="headline-minor-content-bottom" *ngFor="let headline of headlines?.slice(8, 12)">
            <a href="{{headline.url}}">{{headline.title}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="content-headline-bottom">
      <div class="section-bottom" *ngFor="let i of [13, 16, 19]">
        <div class="headline-minor-image"><a href="{{headlines?.[i]?.url}}" target="_blank"><img src="{{headlines?.[i]?.imageUrl}}"></a></div>
        <div class="headline-minor-title"><a href="{{headlines?.[i]?.url}}" target="_blank">{{headlines?.[i]?.title}}</a>></div>
        <div class="headline-minor-content">
          <ul *ngFor="let headlineL of headlines?.slice(i-1, i+3)">
            <li><a href="{{headlineL.url}}}" target="_blank">{{headlineL.title}}</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

